/*header, main, footer {
  padding-left: 300px;
}

*/

html, body {
  /*color: #B71234;*/
  font-family: Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif
}

ul {
  margin: 0;
}

h1 {
  margin: 8px;
  text-align: center;
  color: #e74c3c;

}

.container {
  padding-top: 64px;
}

/*h2 {
  color: #26a69a;
  padding-top: 8px;
  margin-bottom: 8px;
  color: #26a69a;
  font-weight: bold;
  font-size: 24px;
}
*/


.weather .kind, .rain, .special {
  margin-bottom: 10px;
}

.classbody .button {
  padding-top: 6px;
}

.classbody .title {
  color: #26a69a;
  margin-left: 16px;
  font-weight: bold;
  font-size: 24px;
}

p.title {
  padding-top: 8px;
  margin-bottom: 8px;
  color: #26a69a;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
